@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here

.causes{
    background-image: url("../img/bg-causes.png");
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 1554px;
    background-color: transparent;
    position: relative;
    z-index: 6;
}

.cars-title{
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/car-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 650px;
}
.title-causes{
    margin-left: 100px;
    padding-bottom: 60px;
    h3{
        margin-top: -100px;
        line-height: 180px;
        font-size: 180.33px;
        color: #fff;
        opacity: 0.1;
    }
    h2{
        margin-top: 112px;
        color: #fff;
        font-size: 60px;
        line-height: 65px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            left: -177px;
            top: 95px;
            width: 147px;
            height: 4px;
            background-color: #f2a002;
        }
    }
}


.item-causes{
    .item-c_right{
        text-align: right;
    }
    .item-c{
        margin-bottom: 70px;
        .text-items-c{
            display: inline-block;
            padding-left: 55px;
            vertical-align: top;
            text-align: left;
            h2{
                color: #fff;
                font-size:36px;
                line-height: 40px;
                padding-top: 29px;
            }
            p{
                font-size: 18px;
                color: #fff;
                line-height: 25px;
                opacity: .3;
                padding-top: 20px;
            }
        }
        .item-img-c{
            vertical-align: top;
            display: inline-block;
        }
        .text-items-c_right{
            text-align: right;
            padding-right: 55px;
            padding-left: 0;
        }
    }
}

.forma{
    position: relative;
    margin-top: -138px;
}
.forma-first{
    margin-top: -325px;
    height: 415px;
    background-color: #000000;
    form{
        top: 275px;
        position: absolute;
        &:after{
            position: absolute;
            content: '';
            left: 100px;
            top: -170px;
            width: 4px;
            height: 147px;
            z-index: 7;
            background-color: #339afc;
        }
    }
}
.all-form-two{
    background-color: rgba(255,255,255,0.3);
    border: 2px solid #339afc;
    padding: 38px 29px;
    position: relative;
    h2{
        font-size: 30px;
        margin-right: 20px;
        color: #fff;
    }
    input{
        background-color: #bbbbbb;
        border: none;
        color: #717171;
        @include placeholder{
            color: #717171;
        }
    }
}



.service{
    background-color: #000000;
    background-image: url("../img/bg-service.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    min-height: 1959px;
}

.title-service{
    position: relative;
    h3{
        font-size: 419.18px;
        line-height: 510px;
        color: #fff;
        opacity: .2;
    }
    h2{
        position: absolute;
        left: 100px;
        top: 155px;
        color: #fff;
        font-size:60px;
    }
}


.service-items{
    margin-top: -240px;
    .item-serv{
        max-width: 300px;
        display: inline-block;
        margin: 49px 50px;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        &:nth-child(3n){
            margin-right: 0;
        }
        &:nth-child(4){
            margin-left: 0;
        }
        &:nth-child(7){
            margin-left: 0;
        }



        h2{
            color: #fff;
            font-size:24px;
            line-height: 24px;
            padding-top: 24px;
            font-family:RobotoCondensed-Bold;
        }
        a{
            margin-top: 24px;
            border: 2px solid #666666;
            display: block;
            font-size: 24px;
            color: #666666;
            text-align: center;
            &:hover{
                border: 2px solid #339afc;
                color: #339afc;
                text-decoration: none;
            }
        }
        .prev-img{
            background-color: rgba(255,255,255, 0.3);
            max-width: 380px;
            width: 100%;
            height: 280px;
            margin-left: 50px;
            transform: skewX(-15deg);
            &:hover{
                background-color: #339afc;
                &:after{
                    position: absolute;
                    content: '';
                    width: 305px;
                    top: 0px;
                    left: -18px;
                    height: 270px;
                    background-color: rgba(0,0,0,.3);
                }
            }
            img{
                transform: skewX(14deg);
                margin-left: -49px;
                position: relative;
            }
        }
    }
}



.company{
    background-image: url("../img/bg-gcat.png");
    padding-top: 242px;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 862px;
    background-color: #000;
    position: relative;
    z-index: 69;
    h2{
        font-size: 14px;
        text-transform: uppercase;
    }
    p{
        color: #fff;
        font-size:18px;
        line-height: 35px;
        padding-top: 40px;
    }
    .left-block-comp{
        h2{
            color: #f2a002;
        }
    }
    .right-block-comp{
        padding-left: 85px;
        h2{
            color: #2a98ff;
        }
        ul{
            margin: 45px 0 0 30px;
            li{
                float: left;
                &:last-child{
                    a{
                        .block-white-log{
                            img{
                                padding-top: 15px;
                            }
                        }
                    }
                }
                &:nth-child(5){
                    a{
                        margin-left: 0;
                        .block-white-log{
                            img{
                                padding-top: 23px;
                            }
                        }
                    }
                }
                &:nth-child(6){
                    a{

                        .block-white-log{
                            img{
                                padding-top: 20px;
                            }
                        }
                    }
                }
                a{
                    display: block;
                    margin: 15px 1px;
                    .block-white-log{
                        display: block;
                        width: 89px;
                        height: 65px;
                        background-color: #fff;
                        transform: skewX(-15deg);
                        margin-left: 10px;
                        text-align: center;
                        img{
                            padding-top: 10px;
                            transform: skewX(15deg);
                            line-height: 25px;
                        }
                    }
                    p{
                        padding-top: 5px;
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }
        }
    }
}

.title-bottom{
    margin-top: -180px;
    text-align: center;
    position: relative;
    background-color: #fff;

    h2{
        font-size:229px;
        color: #fff;
        opacity: .2;
    }
    .blue-line{
        width: 147px;
        height: 4px;
        display: inline-block;
        margin-left: -73.5px;
        position: absolute;
        top: 60px;
        z-index: 80;
        background-color: #369cff;
    }
}
//ALWAYS END
@import "media.scss";
@import "sketches.scss";