@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here

.causes{
    background-image: url("../img/bg-causes.png");
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 1554px;
    background-color: transparent;
    position: relative;
    z-index: 6;
}

.cars-title{
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/car-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 650px;
}
.title-causes{
    margin-left: 100px;
    padding-bottom: 60px;
    h3{
        margin-top: -100px;
        line-height: 180px;
        font-size: 180.33px;
        color: #fff;
        opacity: 0.1;
    }
    h2{
        margin-top: 112px;
        color: #fff;
        font-size: 60px;
        line-height: 65px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            left: -177px;
            top: 95px;
            width: 147px;
            height: 4px;
            background-color: #f2a002;
        }
    }
}


.item-causes{
    .item-c_right{
        text-align: right;
    }
    .item-c{
        margin-bottom: 70px;
        .text-items-c{
            display: inline-block;
            padding-left: 55px;
            vertical-align: top;
            text-align: left;
            h2{
                color: #fff;
                font-size:36px;
                line-height: 40px;
                padding-top: 29px;
            }
            p{
                font-size: 18px;
                color: #fff;
                line-height: 25px;
                opacity: .3;
                padding-top: 20px;
            }
        }
        .item-img-c{
            vertical-align: top;
            display: inline-block;
        }
        .text-items-c_right{
            text-align: right;
            padding-right: 55px;
            padding-left: 0;
        }
    }
}

.forma{
    position: relative;
    margin-top: -138px;
}
.forma-first{
    margin-top: -325px;
    height: 415px;
    background-color: #000000;
    form{
        top: 275px;
        &:after{
            position: absolute;
            content: '';
            left: 100px;
            top: -170px;
            width: 4px;
            height: 147px;
            z-index: 7;
            background-color: #339afc;
        }
    }
}
.all-form-two{
    background-color: rgba(255,255,255,0.3);
    border: 2px solid #339afc;
    padding: 38px 29px;
    position: relative;
    h2{
        font-size: 30px;
        margin-right: 20px;
        color: #fff;
    }
    input{
        background-color: #bbbbbb;
        border: none;
        color: #717171;
        @include placeholder{
            color: #717171;
        }
    }
}

.mobile-items-c{
  display: none;
}

.service{
    background-color: #000000;
    background-image: url("../img/bg-service.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    min-height: 1959px;
    overflow: hidden;
}

.title-all{
    position: relative;
    overflow: hidden;
    h3{
        font-size: 419.18px;
        line-height: 510px;
        color: #fff;
        text-align: center;
        opacity: .2;
    }
    h2{
        position: absolute;
        left: 100px;
        top: 155px;
        color: #fff;
        font-size:60px;
    }
}


.service-items{
    margin-top: -240px;
    .item-serv{
        max-width: 300px;
        display: inline-block;
        margin: 49px 50px;
        &:nth-child(3n+1){
            margin-left: 0;
        }

        &:nth-child(3n){
            margin-right: 0;
        }




        h2{
            color: #fff;
            font-size:24px;
            line-height: 24px;
            padding-top: 24px;
            font-family:RobotoCondensed-Bold;
        }
        a{
            margin-top: 24px;
            border: 2px solid #666666;
            display: block;
            font-size: 24px;
            color: #666666;
            text-align: center;
            padding: 7px 0;
            position: relative;
            &:after{
                position: absolute;
                right: 28px;
                top: 20px;
                width: 9px;
                content: '';
                height: 15px;
                background-image: url("../img/arrow-gray.png");
            }
            &:hover{
                border: 2px solid #339afc;
                color: #339afc;
                text-decoration: none;
                &:after{
                    background-image: url("../img/arrow-blue.png");
                }
            }
        }
        .prev-img{
            background-color: rgba(255,255,255, 0.3);
            max-width: 380px;
            width: 100%;
            height: 280px;
            margin-left: 50px;
            position: relative;
            transform: skewX(-15deg);
            &:hover{
                background-color: #339afc;
                .hide-menu{
                    display: block;
                }
                &:after{
                    position: absolute;
                    content: '';
                    width: 305px;
                    top: 0px;
                    left: -18px;
                    height: 270px;
                    background-color: rgba(0,0,0,.5);
                }
            }
            img{
                transform: skewX(14deg);
                margin-left: -49px;
                position: relative;
            }
            .hide-menu{
                display: none;
                position: absolute;
                left: 35px;
                top:70px;
                width: 100%;
                z-index: 30;
                text-align: center;
                transform: skewX(15deg);
                a{
                    font-size: 18px;
                    color: #339afc;
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    text-decoration: underline;
                    border: none;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}



.company{
    background-image: url("../img/bg-cat.jpg");
    padding-top: 242px;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 862px;
    overflow: hidden;
    position: relative;
    z-index: 69;
    h2{
        font-size: 14px;
        text-transform: uppercase;
    }
    p{
        color: #fff;
        font-size:18px;
        line-height: 35px;
        padding-top: 40px;
    }
    .left-block-comp{
        h2{
            color: #f2a002;
        }
    }
    .right-block-comp{
        padding-left: 85px;
        h2{
            color: #2a98ff;
        }
        ul{
            margin: 45px 0 0 30px;
            li{
                float: left;
                &:last-child{
                    a{
                        .block-white-log{
                            img{
                                padding-top: 15px;
                            }
                        }
                    }
                }
                &:nth-child(5){
                    a{
                        margin-left: 0;
                        .block-white-log{
                            img{
                                padding-top: 23px;
                            }
                        }
                    }
                }
                &:nth-child(6){
                    a{

                        .block-white-log{
                            img{
                                padding-top: 20px;
                            }
                        }
                    }
                }
                a{
                    display: block;
                    margin: 15px 1px;
                    .block-white-log{
                        display: block;
                        width: 89px;
                        height: 65px;
                        background-color: #fff;
                        transform: skewX(-15deg);
                        margin-left: 10px;
                        text-align: center;
                        img{
                            padding-top: 10px;
                            transform: skewX(15deg);
                            line-height: 25px;
                        }
                    }
                    p{
                        padding-top: 5px;
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }
        }
    }
}

.title-bottom{
    margin-top: -209px;
    text-align: center;
    position: relative;
    z-index: 99;

    h2{
        font-size:229px;
        color: #fff;
        opacity: .1;
        line-height: 1;
    }
    .blue-line{
        width: 147px;
        height: 4px;
        display: inline-block;
        margin-left: -73.5px;
        position: absolute;
        top: 95px;
        z-index: 80;
        background-color: #369cff;
    }
}

.working{
    .title-all{
        text-align: center;
        h2{
            color: #000;
            font-size: 72px;
            position: relative;
            top: 0;
            left: 0;
        }
        h3{
            color: #000000;
            opacity: 0.05;
            font-size: 260.45px;
            line-height: 260px;
            margin-top: -100px;
            letter-spacing: -2.3px;
        }
    }
    .portfolio{
        .gallery{
            margin-top: -70px;
            position: relative;
            z-index: 80;
            text-align: center;
            li{
                display: inline-block;
                &:nth-child(4n){
                    a{
                        margin-right: 0;
                    }
                }
                &:nth-child(4n+1){
                    a{
                        margin-left: 0;
                    }
                }
                a{
                    max-width: 270px;
                    height: 270px;
                    display: block;
                    margin: 14px 10.5px;
                    padding: 0;
                    border: none;
                    &:after{
                        display: none;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
        text-align: center;
        a{
            display: inline-block;
            color: #339afc;
            font-size: 24px;
            border: 2px solid #339afc;
            padding: 7px 45px;
            margin: 55px auto;
            position: relative;
            &:hover{
                background-color: #339afc;
                text-decoration: none;
                color: #fff;
                &:after{
                    background-image: url("../img/arrow-white.png");
                }
            }
            &:after{
                position: absolute;
                content: '';
                right: 28px;
                top: 20px;
                width: 9px;
                height: 15px;
                background-image: url("../img/arrow-blue.png");
            }
        }

    }
}

.forma-cars{
    background-image: url("../img/bg-forma.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 1137px;
    .title-forma{
        padding-top: 130px;
        text-align: center;
        h2{
            color: #fff;
            font-size: 60px;
            line-height: 70px;
        }
    }
    form{
        max-width: 904px;
        border-radius: 5px;
        border: 2px solid #fff;
        margin: 59px auto;
        padding: 43px 63px;
        text-align: center;
        background-color: rgba(0,0,0, .5);
        h2{
            font-size: 32px;
            color: #fff;
        }
        *{
            background-position: 17px 17px;
            background-repeat: no-repeat;


        }
      .model{
        margin-right: 30px;
      }
        input{
            max-width: 370px;
            width: 100%;
            border: 1px solid #b7b7b7;
            border-radius: 5px ;
            float: left;
            display: block;
            padding: 13.5px  54px;
            font-size: 18px;
            margin: 30px 0;
            @include placeholder{
                font-size: 18px;
                color: #8d8d8d;
            }
            &:first-child{
                margin-right: 30px;
            }

        }
        textarea{
            display: block;
            margin: 0 auto;
            width: 100%;
            min-height: 114px;
            border: 1px solid #b7b7b7;
            border-radius: 5px ;
            padding: 16px 0 0 51px;
        }
        ul{
            li{
                float: left;
                input[type='file']{
                    display: none;
                }
                &:first-child{
                    a{
                        margin-left: 0;
                    }
                }
                &:last-child{
                    a{
                        margin-right: 0;
                    }
                }
                a{
                    background-color: #fff;
                    border: 1px solid #b7b7b7;
                    vertical-align: top;
                    border-radius: 5px ;
                    display: block;
                    font-size: 14px;
                    color: #8d8d8d;
                    text-align: center;
                    margin: 30px 14.8px;
                    padding: 15px 30px 15px 44px;
                    background-position: 11px 15px;
                    cursor: pointer;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        button{
            color: #8d5b00;
            display: block;
            width: 100%;
            font-size:22px;
            border-radius: 5px;
            background-color: #ffa800;
            padding: 15.5px 0;
        }
        p{
            font-size: 14px;
            text-decoration: underline;
            padding-top: 33px;
            color: #fff;
            opacity: 0.6;
        }

    }
}


.seo{
    .title-seo{
        text-align: center;
        padding-bottom: 80px;
        h2{
            font-size: 42px;
            line-height: 42px;
            color: #000;
            padding-top: 50px;
            position: relative;
            &:after{
                position: absolute;
                left: 50%;
                background-color: #339afc;
                top: -80px;
                content: '';
                width: 4px;
                height: 107px;
            }
        }
    }
    p{
        font-size: 18px;
        text-align: justify;
        padding-bottom: 40px;
        opacity: 0.7;
    }
}

.footer-menu{
    background-color: #333638;
    .head-menu{
        background-color: transparent;
        a{
            padding: 9px 37px;
        }
    }
}

footer{
    background-image: url("../img/foot-bg.jpg");
    background-position: center -50px;
    background-repeat: no-repeat;

    min-height: 116px;
    .logo{
        padding-top: 35px;
    }
    .confed{
        text-align: center;
        padding-top: 39px;
        p{
            font-size: 14px;
            color: #fff;
            line-height: 14px;
            padding-bottom: 20px;
            opacity: 0.5;
        }
        h3{
            font-size: 14px;
            opacity: 0.5;
            color: #fff;
        }
    }
}
//ALWAYS END
@import "media.scss";
@import "sketches.scss";