*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.causes {
  background-image: url("../img/bg-causes.png");
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 1554px;
  background-color: transparent;
  position: relative;
  z-index: 6; }

.cars-title {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/car-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 650px; }

.title-causes {
  margin-left: 100px;
  padding-bottom: 60px; }
  .title-causes h3 {
    margin-top: -100px;
    line-height: 180px;
    font-size: 180.33px;
    color: #fff;
    opacity: 0.1; }
  .title-causes h2 {
    margin-top: 112px;
    color: #fff;
    font-size: 60px;
    line-height: 65px;
    position: relative; }
    .title-causes h2:after {
      position: absolute;
      content: '';
      left: -177px;
      top: 95px;
      width: 147px;
      height: 4px;
      background-color: #f2a002; }

.item-causes .item-c_right {
  text-align: right; }

.item-causes .item-c {
  margin-bottom: 70px; }
  .item-causes .item-c .text-items-c {
    display: inline-block;
    padding-left: 55px;
    vertical-align: top;
    text-align: left; }
    .item-causes .item-c .text-items-c h2 {
      color: #fff;
      font-size: 36px;
      line-height: 40px;
      padding-top: 29px; }
    .item-causes .item-c .text-items-c p {
      font-size: 18px;
      color: #fff;
      line-height: 25px;
      opacity: .3;
      padding-top: 20px; }
  .item-causes .item-c .item-img-c {
    vertical-align: top;
    display: inline-block; }
  .item-causes .item-c .text-items-c_right {
    text-align: right;
    padding-right: 55px;
    padding-left: 0; }

.forma {
  position: relative;
  margin-top: -138px; }

.forma-first {
  margin-top: -325px;
  height: 415px;
  background-color: #000000; }
  .forma-first form {
    top: 275px;
    position: absolute; }
    .forma-first form:after {
      position: absolute;
      content: '';
      left: 100px;
      top: -170px;
      width: 4px;
      height: 147px;
      z-index: 7;
      background-color: #339afc; }

.all-form-two {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #339afc;
  padding: 38px 29px;
  position: relative; }
  .all-form-two h2 {
    font-size: 30px;
    margin-right: 20px;
    color: #fff; }
  .all-form-two input {
    background-color: #bbbbbb;
    border: none;
    color: #717171; }
    .all-form-two input::-webkit-input-placeholder {
      color: #717171; }
    .all-form-two input::-moz-placeholder {
      color: #717171; }
    .all-form-two input:-moz-placeholder {
      color: #717171; }
    .all-form-two input:-ms-input-placeholder {
      color: #717171; }

.service {
  background-color: #000000;
  background-image: url("../img/bg-service.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 1959px; }

.title-service {
  position: relative; }
  .title-service h3 {
    font-size: 419.18px;
    line-height: 510px;
    color: #fff;
    opacity: .2; }
  .title-service h2 {
    position: absolute;
    left: 100px;
    top: 155px;
    color: #fff;
    font-size: 60px; }

.service-items {
  margin-top: -240px; }
  .service-items .item-serv {
    max-width: 300px;
    display: inline-block;
    margin: 49px 50px; }
    .service-items .item-serv:first-child {
      margin-left: 0; }
    .service-items .item-serv:last-child {
      margin-right: 0; }
    .service-items .item-serv:nth-child(3n) {
      margin-right: 0; }
    .service-items .item-serv:nth-child(4) {
      margin-left: 0; }
    .service-items .item-serv:nth-child(7) {
      margin-left: 0; }
    .service-items .item-serv h2 {
      color: #fff;
      font-size: 24px;
      line-height: 24px;
      padding-top: 24px;
      font-family: RobotoCondensed-Bold; }
    .service-items .item-serv a {
      margin-top: 24px;
      border: 2px solid #666666;
      display: block;
      font-size: 24px;
      color: #666666;
      text-align: center; }
      .service-items .item-serv a:hover {
        border: 2px solid #339afc;
        color: #339afc;
        text-decoration: none; }
    .service-items .item-serv .prev-img {
      background-color: rgba(255, 255, 255, 0.3);
      max-width: 380px;
      width: 100%;
      height: 280px;
      margin-left: 50px;
      -webkit-transform: skewX(-15deg);
      -ms-transform: skewX(-15deg);
      transform: skewX(-15deg); }
      .service-items .item-serv .prev-img:hover {
        background-color: #339afc; }
        .service-items .item-serv .prev-img:hover:after {
          position: absolute;
          content: '';
          width: 305px;
          top: 0px;
          left: -18px;
          height: 270px;
          background-color: rgba(0, 0, 0, 0.3); }
      .service-items .item-serv .prev-img img {
        -webkit-transform: skewX(14deg);
        -ms-transform: skewX(14deg);
        transform: skewX(14deg);
        margin-left: -49px;
        position: relative; }

.company {
  background-image: url("../img/bg-gcat.png");
  padding-top: 242px;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 862px;
  background-color: #000;
  position: relative;
  z-index: 69; }
  .company h2 {
    font-size: 14px;
    text-transform: uppercase; }
  .company p {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    padding-top: 40px; }
  .company .left-block-comp h2 {
    color: #f2a002; }
  .company .right-block-comp {
    padding-left: 85px; }
    .company .right-block-comp h2 {
      color: #2a98ff; }
    .company .right-block-comp ul {
      margin: 45px 0 0 30px; }
      .company .right-block-comp ul li {
        float: left; }
        .company .right-block-comp ul li:last-child a .block-white-log img {
          padding-top: 15px; }
        .company .right-block-comp ul li:nth-child(5) a {
          margin-left: 0; }
          .company .right-block-comp ul li:nth-child(5) a .block-white-log img {
            padding-top: 23px; }
        .company .right-block-comp ul li:nth-child(6) a .block-white-log img {
          padding-top: 20px; }
        .company .right-block-comp ul li a {
          display: block;
          margin: 15px 1px; }
          .company .right-block-comp ul li a .block-white-log {
            display: block;
            width: 89px;
            height: 65px;
            background-color: #fff;
            -webkit-transform: skewX(-15deg);
            -ms-transform: skewX(-15deg);
            transform: skewX(-15deg);
            margin-left: 10px;
            text-align: center; }
            .company .right-block-comp ul li a .block-white-log img {
              padding-top: 10px;
              -webkit-transform: skewX(15deg);
              -ms-transform: skewX(15deg);
              transform: skewX(15deg);
              line-height: 25px; }
          .company .right-block-comp ul li a p {
            padding-top: 5px;
            font-size: 12px;
            line-height: 12px; }

.title-bottom {
  margin-top: -180px;
  text-align: center;
  position: relative;
  background-color: #fff; }
  .title-bottom h2 {
    font-size: 229px;
    color: #fff;
    opacity: .2; }
  .title-bottom .blue-line {
    width: 147px;
    height: 4px;
    display: inline-block;
    margin-left: -73.5px;
    position: absolute;
    top: 60px;
    z-index: 80;
    background-color: #369cff; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
  .company .title-bottom h2 {
    font-size: 240px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrapper {
    width: auto; }
  .pad {
    padding: 50px 5px !important; }
  footer {
    text-align: center; }
    footer .wrapper {
      width: auto; }
    footer ul {
      float: none;
      display: inline-block;
      text-align: center; }
      footer ul li {
        margin-bottom: 10px;
        margin-right: 0;
        float: none; }
    footer .gs {
      float: none;
      display: block; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .pad {
    padding: 20px 5px !important; } }

/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
